In [1]:
import numpy as np
import pandas as pd

In [44]:
df = pd.DataFrame(np.random.random((4, 3)))
df = df.append([3, 5, 8])
df

          0         1         2
0  0.725936  0.167084  0.060363
1  0.895979  0.975785  0.117783
2  0.466385  0.294436  0.639682
3  0.746202  0.868565  0.776832
0  3.000000       NaN       NaN
1  5.000000       NaN       NaN
2  8.000000       NaN       NaN

In [45]:
while df.iloc[-1][0] > 4:
    df = df.iloc[:-1]
df

          0         1         2
0  0.725936  0.167084  0.060363
1  0.895979  0.975785  0.117783
2  0.466385  0.294436  0.639682
3  0.746202  0.868565  0.776832
0  3.000000       NaN       NaN

In [ ]:
df.tail()